.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 80vmin;
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.App-header {
  background-color: #F3E9E3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #241E22;
}

.App-header {
  font-size: 100%;
}

.App-body {
  background-color: #241E22;
  padding-bottom: 40px;
  color: #F3E9E3;
}

.App-body img {
  margin: 20px;
}

.App-link {
  color: #61dafb;
}

.grid-container {
  display: grid;
  grid-gap: 50px 50px;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-item {
  grid-column: 2 / span 2;
}

.btn input {
  border-radius: 50%;
}

#mc_embed_signup {
  padding-top: 15px;
  clear: left;
  font: 15px 'Abel',sans-serif;
  width: 100%;
  margin-bottom: 15px;
}

#mc-embedded-subscribe * input {
  border-radius: 50%;
}

input#mc-embedded-subscribe.button {
  color: #F3E9E3;
  background-color: #241E22;
  border: 1px solid #F3E9E3;
}

input#mc-embedded-subscribe.button:hover {
  background-color: #53ADE2;
  color: #241E22;
  border-color: #F9B2C0;
}

label {
  display: block;
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: bold;
}

.social img {
  width: 32px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
